# Module: SQLite3 Assignments
## Lesson: SQLite3
### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.
2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.
2. Insert at least 5 different employees into the `employees` table.

### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.
2. Write a Python function to fetch and display all employees from a specific department.

### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.
2. Update the department of at least 2 employees and display the updated records.

### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.
2. Delete at least 1 employee and display the remaining records.

### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.
2. Write a Python function to fetch and display employees whose names start with a specific letter.

### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.
2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).
2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.
3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.

### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.
2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.

### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.
2. Write a Python function to restore the `test.db` database from the `backup.db` file.

In [1]:
#1.1
import sqlite3

def create_database():
    connection = sqlite3.connect('test.db')
    connection.close()
    print("Database created and successfully connected.")

create_database()

Database created and successfully connected.

In [3]:
def create_table():
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute('''
        CREATE TABLE IF NOT EXISTS employees (
               id INTEGER PRIMARY KEY,
               name TEXT NOT NULL,
               age INTEGER,
               department TEXT
         )
    ''')
    connection.commit()
    connection.close()
    print("Table 'employees' creadted successfully")

create_table()

Table 'employees' creadted successfully

In [4]:
def insert_employee(id,name,age,department):
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute('''
    INSERT INTO employees(id,name,age,department)
    VALUES(?,?,?,?)
    ''',(id,name,age,department))
    connection.commit()
    connection.close()
    print("Employee inserted successfully!")

insert_employee(1,'GOJO',25,'HR Department')

Employee inserted successfully!

In [5]:
insert_employee(2,'MOKUTO', 29,'Sales Department')
insert_employee(3,'HIZUNE',25,'R&D Department')
insert_employee(4,'SAKURA', 18, 'HR Department')
insert_employee(5,'SHIZUKA',32,'R&D Department')
insert_employee(6,'SHINZO',19,'R&D Department')

Employee inserted successfully!
Employee inserted successfully!
Employee inserted successfully!
Employee inserted successfully!
Employee inserted successfully!

In [6]:
def fetch_all_employees():
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute('SELECT * FROM employees')
    records = cursor.fetchall()
    cursor.close()
    for record in records:
        print(record)

fetch_all_employees()

(1, 'GOJO', 25, 'HR Department')
(2, 'MOKUTO', 29, 'Sales Department')
(3, 'HIZUNE', 25, 'R&D Department')
(4, 'SAKURA', 18, 'HR Department')
(5, 'SHIZUKA', 32, 'R&D Department')
(6, 'SHINZO', 19, 'R&D Department')

In [8]:
def fetch_employees_by_department(department):
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute('SELECT * FROM employees WHERE department = ?', (department,))
    records = cursor.fetchall()
    connection.close()
    for record in records:
        print(record)

fetch_employees_by_department('HR Department')

(1, 'GOJO', 25, 'HR Department')
(4, 'SAKURA', 18, 'HR Department')

In [9]:
def update_employee_department(employee_id,new_department):
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute('''
                   UPDATE employees 
                   SET department=?
                   WHERE id = ?''',(new_department,employee_id))
    connection.commit()
    records = cursor.fetchall()
    connection.close()
    print("Employee Department updated successfully!")
   

update_employee_department(4,'R&D Department')

Employee Department updated successfully!

In [10]:
update_employee_department(1,'Finance Department')
update_employee_department(3,'Finance Department')

fetch_all_employees()

Employee Department updated successfully!
Employee Department updated successfully!
(1, 'GOJO', 25, 'Finance Department')
(2, 'MOKUTO', 29, 'Sales Department')
(3, 'HIZUNE', 25, 'Finance Department')
(4, 'SAKURA', 18, 'R&D Department')
(5, 'SHIZUKA', 32, 'R&D Department')
(6, 'SHINZO', 19, 'R&D Department')

In [11]:
#5.1
def delete_employee(employee_id):
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute('''
                    DELETE FROM employees
                    WHERE id=?
                    ''',(employee_id,))
    connection.commit()
    records = cursor.fetchall()
    connection.close()
    print("Employee is removed successfully!")

delete_employee(6)

Employee is removed successfully!

In [12]:
delete_employee(5)
delete_employee(3)

fetch_all_employees()

Employee is removed successfully!
Employee is removed successfully!
(1, 'GOJO', 25, 'Finance Department')
(2, 'MOKUTO', 29, 'Sales Department')
(4, 'SAKURA', 18, 'R&D Department')

In [13]:
def fetch_by_age(age):
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute('SELECT * FROM employees WHERE age > ?',(age,))
    records = cursor.fetchall()
    connection.close()
    print("Employees greater than specified are displayed.")
    for record in records:
        print(record)

fetch_by_age(18)

Employees greater than specified are displayed.
(1, 'GOJO', 25, 'Finance Department')
(2, 'MOKUTO', 29, 'Sales Department')

In [14]:
def fetch_employees_names_starts_with(letter):
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    cursor.execute('SELECT * FROM employees WHERE name LIKE ?',(letter + '%',))
    records = cursor.fetchall()
    connection.close()
    print("Employees name is displayed.")
    for record in records:
        print(record)

fetch_employees_names_starts_with('M')

Employees name is displayed.
(2, 'MOKUTO', 29, 'Sales Department')

In [15]:
#7
def insert_multipule_employees(employees):
    connection = sqlite3.connect('test.db')
    cursor = connection.cursor()
    try:
        cursor.executemany('''
        INSERT INTO employees(id,name,age,department)
         VALUES(?,?,?,?)
                    ''',employees)
        connection.commit()
        print("All employess inserted successfully!")
    except Exception as e:
        connection.rollback()
        print("Error Ocured, transacton rolled back!")
        print(e)
    finally:
        connection.close()

employees = [
    (5,'Frank', 40, 'Finance Department'),
    (6, 'Jane', 35, 'Engineering Department'),
    (7,'Wild', 50, 'IT Depatment'),
    (8,'Justin', 29, 'R&D Department'),
    (9,'Alice', 27,'Sales Department')
]
insert_multipule_employees(employees)

All employess inserted successfully!

In [16]:
def update_multipule_employees_ages(updates):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.executemany('''
        UPDATE employees
        SET age = ?
        WHERE id = ?
        ''',updates)
        conn.commit()
        print("All employees ages updated successfully!")
    except Exception as e:
        conn.rollback()
        print("Error Occurred, transaction rolled back!")
        print(e)
    finally:
        conn.close()

updates = [(26,1),
           (20,2),
           (28,4),
           (34,5),
           (38,6),
           (52,7)]

update_multipule_employees_ages(updates)

All employees ages updated successfully!

In [17]:
#8
def create_department_table():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('''
            CREATE TABLE IF NOT EXISTS departments(
                   id INTEGER PRIMARY KEY,
                   name TEXT NOT NULL
            )
    ''')
    conn.commit()
    conn.close()
    print("Table 'departments' created successfully!")

create_department_table()

Table 'departments' created successfully!

In [18]:
def add_department_foreign_key():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.executescript('''
        PRAGMA foreign_keys=off;
        BEGIN TRANSACTION;
        ALTER TABLE employees RENAME TO old_employees;
        CREATE TABLE employees(
                id INTEGER PRIMARY KEY,
                name TEXT NOT NULL,
                age INTEGER,
                department TEXT,
                department_id INTEGER,
                FOREIGN KEY(department_id) REFERENCES departments(id)
        );
        INSERT INTO employees(id,name,age,department)
        SELECT id,name,age,department FROM old_employees;
        DROP TABLE old_employees;
        COMMIT;
        PRAGMA foreign_keys=on;
    ''')
    conn.commit()
    conn.close()
    print("Table 'employees' modified successfully! ")

add_department_foreign_key()

Table 'employees' modified successfully!

In [19]:
def insert_department_and_employee(department_id, department_name, employee_id, name, age, department):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    try:
        cursor.execute('''
            INSERT INTO departments (id, name)
            VALUES (?, ?)
        ''', (department_id, department_name))
        cursor.execute('''
            INSERT INTO employees (id, name, age, department, department_id)
            VALUES (?, ?, ?, ?, ?)
        ''', (employee_id, name, age, department, department_id))
        conn.commit()
        print("Department and employee inserted successfully.")
    except Exception as e:
        conn.rollback()
        print("Error occurred, transaction rolled back.")
        print(e)
    finally:
        conn.close()

# Test the function
insert_department_and_employee(1, 'Finance', 10, 'Zara', 28, 'Finance')

Department and employee inserted successfully.

In [ ]:
def create_index_on_name():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('CREATE INDEX idx_name ON employees(name)')
    conn.commit()
    conn.close()
    print("Inidex on 'name' column created successfully. ")

create_index_on_name()

nidex on 'name' column created successfully.

In [23]:
import time
def fetch_employees_name_starts_with_performance(letter):
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    start_time = time.time()
    cursor.execute('SELECT * FROM employees WHERE name LIKE ?',(letter + '%',))
    records = cursor.fetchall()
    end_time = time.time()
    conn.close()
    print("Time taken: {} seconds".format(end_time - start_time))
    for record in records:
        print(record)

fetch_employees_name_starts_with_performance('M')

Time taken: 0.0007917881011962891 seconds
(2, 'MOKUTO', 20, 'Sales Department', None)

In [24]:
import shutil

def backup_database():
    shutil.copy('test.db','backup.db')
    print("Database backed up successfully.")

backup_database()

Database backed up successfully.

In [25]:
def restore_database():
    shutil.copy('backup.db','test.db')
    print("Database restored successfully.")

restore_database()

Database restored successfully.