# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [2]:
import pandas as pd
import numpy as np

# Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

# Set the index to be the first column
df.set_index('A', inplace=True)
print("DataFrame with new index:")
print(df)

Original DataFrame:
    A   B   C   D
0  32  52   7  39
1  63  89  41  65
2  48  51  16   4
3  67  24   6  20
4  72  73  25  97
5   7  14  17  25
DataFrame with new index:
     B   C   D
A
32  52   7  39
63  89  41  65
48  51  16   4
67  24   6  20
72  73  25  97
7   14  17  25

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [3]:
# Create a Pandas DataFrame with specified columns and index
df = pd.DataFrame(np.random.randint(1, 100, size=(3, 3)), columns=['A', 'B', 'C'], index=['X', 'Y', 'Z'])
print("Original DataFrame:")
print(df)

# Access the element at row 'Y' and column 'B'
element = df.at['Y', 'B']
print("Element at row 'Y' and column 'B':", element)

Original DataFrame:
    A   B   C
X  47  28  48
Y  17   3  28
Z  15  81  92
Element at row 'Y' and column 'B': 3

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [4]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Add a new column that is the product of the first two columns
df['D'] = df['A'] * df['B']
print("DataFrame with new column:")
print(df)

Original DataFrame:
    A   B   C
0  55  14  19
1   2  52  66
2  24  48  34
3  53  56  49
4  51  94  60
DataFrame with new column:
    A   B   C     D
0  55  14  19   770
1   2  52  66   104
2  24  48  34  1152
3  53  56  49  2968
4  51  94  60  4794

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [5]:
# Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Compute the row-wise and column-wise sum
row_sum = df.sum(axis=1)
column_sum = df.sum(axis=0)

print("Row-wise sum:")
print(row_sum)
print("Column-wise sum:")
print(column_sum)

Original DataFrame:
    A   B   C
0  44  62  45
1  56  67  79
2  69  65  20
3   1  50   4
Row-wise sum:
0    151
1    202
2    154
3     55
dtype: int64
Column-wise sum:
A    170
B    244
C    148
dtype: int64

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [6]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Introduce some NaN values
df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
print("DataFrame with NaN values:")
print(df)

# Fill the NaN values with the mean of the respective columns
df.fillna(df.mean(), inplace=True)
print("DataFrame with NaN values filled:")
print(df)

Original DataFrame:
    A   B   C
0  89  54  49
1  44   2  23
2   2  34  99
3  68  89  22
4  59  97  13
DataFrame with NaN values:
      A     B     C
0  89.0   NaN  49.0
1  44.0   2.0  23.0
2   2.0  34.0   NaN
3  68.0  89.0  22.0
4   NaN  97.0  13.0
DataFrame with NaN values filled:
       A     B      C
0  89.00  55.5  49.00
1  44.00   2.0  23.00
2   2.00  34.0  26.75
3  68.00  89.0  22.00
4  50.75  97.0  13.00

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [7]:
# Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 4)), columns=['A', 'B', 'C', 'D'])
print("Original DataFrame:")
print(df)

# Introduce some NaN values
df.iloc[1, 2] = np.nan
df.iloc[3, 0] = np.nan
df.iloc[5, 1] = np.nan
print("DataFrame with NaN values:")
print(df)

# Drop the rows with any NaN values
df.dropna(inplace=True)
print("DataFrame with NaN values dropped:")
print(df)

Original DataFrame:
    A   B   C   D
0  95  51  77  94
1  29   4  73  38
2  88  45  63  74
3  62  63  84  43
4  48   4  93  97
5  79  20  76  57
DataFrame with NaN values:
      A     B     C   D
0  95.0  51.0  77.0  94
1  29.0   4.0   NaN  38
2  88.0  45.0  63.0  74
3   NaN  63.0  84.0  43
4  48.0   4.0  93.0  97
5  79.0   NaN  76.0  57
DataFrame with NaN values dropped:
      A     B     C   D
0  95.0  51.0  77.0  94
2  88.0  45.0  63.0  74
4  48.0   4.0  93.0  97

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [8]:
# Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'
df = pd.DataFrame({'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Value': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

# Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category
grouped = df.groupby('Category')['Value'].agg(['sum', 'mean'])
print("Grouped DataFrame:")
print(grouped)

Original DataFrame:
  Category  Value
0        A     54
1        A     59
2        B      2
3        A      6
4        A     83
5        B     99
6        A     41
7        A     22
8        A     67
9        A     75
Grouped DataFrame:
          sum    mean
Category
A         407  50.875
B         101  50.500

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [9]:
# Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'
df = pd.DataFrame({'Product': np.random.choice(['Prod1', 'Prod2', 'Prod3'], size=10), 'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Sales': np.random.randint(1, 100, size=10)})
print("Original DataFrame:")
print(df)

# Group the DataFrame by 'Category' and compute the total sales for each category
grouped = df.groupby('Category')['Sales'].sum()
print("Grouped DataFrame:")
print(grouped)

Original DataFrame:
  Product Category  Sales
0   Prod2        B     99
1   Prod1        A     79
2   Prod3        C     88
3   Prod2        C     37
4   Prod1        A     49
5   Prod1        C     87
6   Prod1        B     17
7   Prod2        C     68
8   Prod1        C     31
9   Prod1        B     64
Grouped DataFrame:
Category
A    128
B    180
C    311
Name: Sales, dtype: int64

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [10]:
# Create two Pandas DataFrames with a common column
df1 = pd.DataFrame({'Key': ['A', 'B', 'C', 'D'], 'Value1': np.random.randint(1, 100, size=4)})
df2 = pd.DataFrame({'Key': ['A', 'B', 'C', 'E'], 'Value2': np.random.randint(1, 100, size=4)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Merge the DataFrames using the common column
merged = pd.merge(df1, df2, on='Key')
print("Merged DataFrame:")
print(merged)

DataFrame 1:
  Key  Value1
0   A      55
1   B      24
2   C       5
3   D      87
DataFrame 2:
  Key  Value2
0   A      80
1   B      27
2   C      63
3   E      65
Merged DataFrame:
  Key  Value1  Value2
0   A      55      80
1   B      24      27
2   C       5      63

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [11]:
# Create two Pandas DataFrames with different columns
import pandas as pd
import numpy as np
df1 = pd.DataFrame({'A': np.random.randint(1, 100, size=3), 'B': np.random.randint(1, 100, size=3)})
df2 = pd.DataFrame({'C': np.random.randint(1, 100, size=3), 'D': np.random.randint(1, 100, size=3)})
print("DataFrame 1:")
print(df1)
print("DataFrame 2:")
print(df2)

# Concatenate the DataFrames along the rows
concat_rows = pd.concat([df1, df2], axis=0)
print("Concatenated DataFrame (rows):")
print(concat_rows)

# Concatenate the DataFrames along the columns
concat_columns = pd.concat([df1, df2], axis=1)
print("Concatenated DataFrame (columns):")
print(concat_columns)

DataFrame 1:
    A   B
0  53   8
1  72  58
2  62  58
DataFrame 2:
    C   D
0  94  38
1  56  84
2  83  36
Concatenated DataFrame (rows):
      A     B     C     D
0  53.0   8.0   NaN   NaN
1  72.0  58.0   NaN   NaN
2  62.0  58.0   NaN   NaN
0   NaN   NaN  94.0  38.0
1   NaN   NaN  56.0  84.0
2   NaN   NaN  83.0  36.0
Concatenated DataFrame (columns):
    A   B   C   D
0  53   8  94  38
1  72  58  56  84
2  62  58  83  36

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [12]:
# Create a Pandas DataFrame with a datetime index and one column filled with random integers
date_rng = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

# Resample the DataFrame to compute the monthly mean of the values
monthly_mean = df.resample('M').mean()
print("Monthly mean DataFrame:")
print(monthly_mean)

Original DataFrame:
            data
date
2022-01-01    77
2022-01-02    81
2022-01-03    17
2022-01-04    74
2022-01-05    50
...          ...
2022-12-27    40
2022-12-28    73
2022-12-29    82
2022-12-30     2
2022-12-31    96

[365 rows x 1 columns]
Monthly mean DataFrame:
                 data
date
2022-01-31  57.645161
2022-02-28  54.357143
2022-03-31  57.354839
2022-04-30  52.233333
2022-05-31  58.709677
2022-06-30  50.166667
2022-07-31  51.064516
2022-08-31  51.870968
2022-09-30  44.700000
2022-10-31  32.129032
2022-11-30  48.766667
2022-12-31  49.000000

/var/folders/m7/8hb2jgc92gj43v8ccht5z1b40000gn/T/ipykernel_5232/994453891.py:10: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean = df.resample('M').mean()

2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [13]:
# Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31'
date_rng = pd.date_range(start='2021-01-01', end='2021-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

# Compute the rolling mean with a window of 7 days
rolling_mean = df.rolling(window=7).mean()
print("Rolling mean DataFrame:")
print(rolling_mean)

Original DataFrame:
            data
date
2021-01-01    95
2021-01-02    85
2021-01-03    40
2021-01-04    62
2021-01-05    11
...          ...
2021-12-27    95
2021-12-28    14
2021-12-29    77
2021-12-30    89
2021-12-31     6

[365 rows x 1 columns]
Rolling mean DataFrame:
                 data
date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  68.857143
2021-12-28  57.857143
2021-12-29  56.857143
2021-12-30  63.285714
2021-12-31  51.428571

[365 rows x 1 columns]

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

In [14]:
# Create a Pandas DataFrame with a MultiIndex (hierarchical index)
arrays = [['A', 'A', 'B', 'B'], ['one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(4, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Basic indexing and slicing operations
print("Indexing at Category 'A':")
print(df.loc['A'])

print("Slicing at Category 'B' and SubCategory 'two':")
print(df.loc[('B', 'two')])

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              91      72      40
         two              51      80      11
B        one              13       1      94
         two              85      30      92
Indexing at Category 'A':
             Value1  Value2  Value3
SubCategory
one              91      72      40
two              51      80      11
Slicing at Category 'B' and SubCategory 'two':
Value1    85
Value2    30
Value3    92
Name: (B, two), dtype: int64

2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [15]:
# Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'
arrays = [['A', 'A', 'B', 'B', 'C', 'C'], ['one', 'two', 'one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(arrays, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 3)), index=index, columns=['Value1', 'Value2', 'Value3'])
print("MultiIndex DataFrame:")
print(df)

# Compute the sum of values for each 'Category' and 'SubCategory'
sum_values = df.groupby(['Category', 'SubCategory']).sum()
print("Sum of values:")
print(sum_values)

MultiIndex DataFrame:
                      Value1  Value2  Value3
Category SubCategory
A        one              96      20      17
         two              53      62      25
B        one              68       8      59
         two              73      12      91
C        one              17      69      73
         two              26      67      36
Sum of values:
                      Value1  Value2  Value3
Category SubCategory
A        one              96      20      17
         two              53      62      25
B        one              68       8      59
         two              73      12      91
C        one              17      69      73
         two              26      67      36

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

In [16]:
# Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'
date_rng = pd.date_range(start='2022-01-01', end='2022-01-10', freq='D')
df = pd.DataFrame({'Date': np.random.choice(date_rng, size=20), 'Category': np.random.choice(['A', 'B', 'C'], size=20), 'Value': np.random.randint(1, 100, size=20)})
print("Original DataFrame:")
print(df)

# Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'
pivot_table = df.pivot_table(values='Value', index='Date', columns='Category', aggfunc='sum')
print("Pivot Table:")
print(pivot_table)

Original DataFrame:
         Date Category  Value
0  2022-01-03        A     66
1  2022-01-09        A     44
2  2022-01-05        C     67
3  2022-01-05        A     58
4  2022-01-04        B     80
5  2022-01-03        C     83
6  2022-01-09        B      4
7  2022-01-08        A     25
8  2022-01-09        B      3
9  2022-01-01        A     62
10 2022-01-07        C     21
11 2022-01-02        A     23
12 2022-01-04        C     32
13 2022-01-06        B     61
14 2022-01-08        C     80
15 2022-01-05        C     51
16 2022-01-08        C     93
17 2022-01-07        C     78
18 2022-01-01        A     17
19 2022-01-05        A     38
Pivot Table:
Category       A     B      C
Date
2022-01-01  79.0   NaN    NaN
2022-01-02  23.0   NaN    NaN
2022-01-03  66.0   NaN   83.0
2022-01-04   NaN  80.0   32.0
2022-01-05  96.0   NaN  118.0
2022-01-06   NaN  61.0    NaN
2022-01-07   NaN   NaN   99.0
2022-01-08  25.0   NaN  173.0
2022-01-09  44.0   7.0    NaN

2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

In [17]:
# Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'
df = pd.DataFrame({'Year': np.random.choice([2020, 2021, 2022], size=12), 'Quarter': np.random.choice(['Q1', 'Q2', 'Q3', 'Q4'], size=12), 'Revenue': np.random.randint(1, 1000, size=12)})
print("Original DataFrame:")
print(df)

# Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'
pivot_table = df.pivot_table(values='Revenue', index='Year', columns='Quarter', aggfunc='mean')
print("Pivot Table:")
print(pivot_table)

Original DataFrame:
    Year Quarter  Revenue
0   2022      Q1      501
1   2021      Q3      470
2   2020      Q4      228
3   2021      Q3      362
4   2020      Q1      959
5   2021      Q1      558
6   2020      Q4      574
7   2021      Q3      992
8   2022      Q1      773
9   2021      Q4      954
10  2022      Q4      966
11  2022      Q3      955
Pivot Table:
Quarter     Q1     Q3     Q4
Year
2020     959.0    NaN  401.0
2021     558.0  608.0  954.0
2022     637.0  955.0  966.0

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

In [18]:
# Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(5, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Apply a function that doubles the values of the DataFrame
df_doubled = df.applymap(lambda x: x * 2)
print("Doubled DataFrame:")
print(df_doubled)

Original DataFrame:
    A   B   C
0  90  34  25
1  42  54   5
2   1  93  21
3  51  93  37
4  55  89  95
Doubled DataFrame:
     A    B    C
0  180   68   50
1   84  108   10
2    2  186   42
3  102  186   74
4  110  178  190

/var/folders/m7/8hb2jgc92gj43v8ccht5z1b40000gn/T/ipykernel_5232/3315638500.py:7: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_doubled = df.applymap(lambda x: x * 2)

2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

In [19]:
# Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers
df = pd.DataFrame(np.random.randint(1, 100, size=(6, 3)), columns=['A', 'B', 'C'])
print("Original DataFrame:")
print(df)

# Apply a lambda function to create a new column that is the sum of the existing columns
df['Sum'] = df.apply(lambda row: row.sum(), axis=1)
print("DataFrame with Sum column:")
print(df)

Original DataFrame:
    A   B   C
0  64  54  87
1   1  97  49
2  94   2  70
3  20  85  27
4  80   4   6
5  97  20  25
DataFrame with Sum column:
    A   B   C  Sum
0  64  54  87  205
1   1  97  49  147
2  94   2  70  166
3  20  85  27  132
4  80   4   6   90
5  97  20  25  142

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.

In [20]:
# Create a Pandas Series with 5 random text strings
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)

# Convert all the strings to uppercase
uppercase_data = text_data.str.upper()
print("Uppercase Series:")
print(uppercase_data)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
Uppercase Series:
0         APPLE
1        BANANA
2        CHERRY
3          DATE
4    ELDERBERRY
dtype: object

2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [21]:
# Create a Pandas Series with 5 random text strings
text_data = pd.Series(['apple', 'banana', 'cherry', 'date', 'elderberry'])
print("Original Series:")
print(text_data)

# Extract the first three characters of each string
first_three_chars = text_data.str[:3]
print("First three characters:")
print(first_three_chars)

Original Series:
0         apple
1        banana
2        cherry
3          date
4    elderberry
dtype: object
First three characters:
0    app
1    ban
2    che
3    dat
4    eld
dtype: object