#### SQL and SQLite
SQL(Structured Query Language) is a standard language for managing and manipulating relational databases. SQLite is a self-contained,serverless and zero-configuration database that is widely used for embedded database systems.

In [25]:
import sqlite3

In [26]:
## Connect to an SQLite database
connection = sqlite3.connect('example.db')
connection

In [27]:
cursor = connection.cursor()

In [28]:
#Create a table
cursor.execute('''
Create Table If Not Exists employee(
               id Integer Primary Key,
               name Text Not Null,
               age Integer,
               department text
            )
''')

In [29]:
##Commit the changes
connection.commit()

In [30]:
cursor.execute('''
Select * From employee
''')

In [31]:
##Insert data in sqlite3
cursor.execute('''
Insert Into employee(name, age, department)
               Values('Sri',26,'Python Developer')
''')

cursor.execute('''
Insert Into employee(name, age, department)
               Values('Kaushik',25,'Java Developer')
''')

cursor.execute('''
Insert Into employee(name, age, department)
               Values('Pamidimukkala',27,'AI/ML Engineer')
''')

In [32]:
##
connection.commit()

In [33]:
##Querying data from table
cursor.execute('Select * From employee')
rows = cursor.fetchall()

#Print querying data
for row in rows:
    print(row)

(1, 'Sri', 26, 'Python Developer')
(3, 'Pamidimukkala', 27, 'AI/ML Engineer')
(4, 'Sri', 26, 'Python Developer')
(5, 'Kaushik', 25, 'Java Developer')
(6, 'Pamidimukkala', 27, 'AI/ML Engineer')

In [34]:
##Update data in the table
cursor.execute('''
UPDATE employee
    set age = 28
Where name = 'Kaushik'
''')

##Commit
connection.commit()

In [35]:
cursor.execute('Select * From employee')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Sri', 26, 'Python Developer')
(3, 'Pamidimukkala', 27, 'AI/ML Engineer')
(4, 'Sri', 26, 'Python Developer')
(5, 'Kaushik', 28, 'Java Developer')
(6, 'Pamidimukkala', 27, 'AI/ML Engineer')

In [36]:
##Delete data
cursor.execute('''
Delete From employee
Where name = 'Kaushik'
''')

connection.commit()

In [37]:
cursor.execute('Select * From employee')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, 'Sri', 26, 'Python Developer')
(3, 'Pamidimukkala', 27, 'AI/ML Engineer')
(4, 'Sri', 26, 'Python Developer')
(6, 'Pamidimukkala', 27, 'AI/ML Engineer')

In [38]:
connection.close()

In [39]:
## Working with sales Data
##Connect to database
connection = sqlite3.connect('sales_data.db')
connection

In [40]:
##Cursor to move around
cursor = connection.cursor()
cursor

In [41]:
##Create table sales
cursor.execute('''
CREATE TABLE IF NOT EXISTS sales(
               id INTEGER PRIMARY KEY,
               date TEXT NOT NULL,
               product TEXT NOT NULL,
               sales INTEGER,
               region TEXT
               )
''')

##Commit - save
connection.commit()

In [42]:
cursor.execute('''
SELECT * FROM sales
''')

In [43]:
##Insert values 
sales_data = [
    ('2025-01-01','Product1',100,'North'),
    ('2025-01-02','Product2',200,'South'),
    ('2025-01-03','Product1',150,'East'),
    ('2025-01-04','Product3',250,'West'),
    ('2025-01-05','Product2',300,'North')
    ]

cursor.executemany('''
INSERT INTO sales(date,product,sales,region)
                   VALUES(?,?,?,?)
''',sales_data)
connection.commit()

In [44]:
cursor.execute('SELECT * FROM sales')
rows = cursor.fetchall()

for row in rows:
    print(row)

(1, '2025-01-01', 'Product1', 100, 'North')
(2, '2025-01-02', 'Product2', 200, 'South')
(3, '2025-01-03', 'Product1', 150, 'East')
(4, '2025-01-04', 'Product3', 250, 'West')
(5, '2025-01-05', 'Product2', 300, 'North')
(6, '2025-01-01', 'Product1', 100, 'North')
(7, '2025-01-02', 'Product2', 200, 'South')
(8, '2025-01-03', 'Product1', 150, 'East')
(9, '2025-01-04', 'Product3', 250, 'West')
(10, '2025-01-05', 'Product2', 300, 'North')

In [45]:
connection.close()