In [16]:
## Basic Syntax in Python
## Python is case sensitive
name = 'sri'
Name = 'Kaushik'
print(name)
print(Name)

sri
Kaushik

In [17]:
## Indentation
## Python uses indentation to define blocks of code. Consistent use of spaces(commonly 4) or a tab is required.

age = 32
if(age > 32):
    print(age)

In [1]:
## Line continuation
##Use a backslash(\) to continue a statement to the next line

total = 1+2+3+\
4+5+6

print(total)

21

In [19]:
## Multipule statements on a single line

x=5; y=10; z= x+y
print(z)

15

In [2]:
## Understanding semantics for python
# Variable assignment
age = 32 ##age is an integer
name = 'Krish'

In [ ]:
type(age)
type(name)

str

In [3]:
## Type Inference
val = 10
print(type(val))
val = "sri"
print(type(val))

<class 'int'>
<class 'str'>

In [5]:
## Declaring and assigning Variables
age =32
height = 6.1
name = "Sri"
is_Student = True

## Priting Variabels

print("age: ", age)
print("height: ",height)

age:  32
height:  6.1

In [7]:
##Naming convention
## Variable names should be descriptive
## they must always start with letter or an '_' and contains letters, numbers and underscores
# Valid variable names

first_name = "sri"
_lastname = "kaushik"

print(_lastname)

kaushik

In [8]:
##Vaariable Types
## Python is dynamically typed, type od variable is determined at runtime
age = 25 #int
height = 6.1 #float

print(type(height))

<class 'float'>

In [11]:
##Type Checking and Conversion
print(type(age))

##Type conversion
age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
25
<class 'str'>

In [12]:
##Dynamic Typing 
##Python allows the type of the variable to change as the program executes
var = 10
print(var, type(var))

var = "Hello"
print(var,type(var))

var = 3.14
print(var, type(var))

var = True
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.14 <class 'float'>
True <class 'bool'>

In [16]:
##input
#age = input("Enter Age: ")
#print(age,type(age))

age = int(input("Enter age Value"))
print(age,type(age))

25 <class 'int'>

In [17]:
##Simple Calculator
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

sum = num1 + num2
difference = num1 - num2
product = num1 * num2
quotient = num1 / num2

print("Sum: ", sum)
print("Difference: ", difference)
print("product: ",product)
print("Quotient: ", quotient)

Sum:  38.0
Difference:  22.0
product:  240.0
Quotient:  3.75