In [1]:
##Data Types
# Data types are classification of data which tell the compiler ort interpreter how th programmer intends to use the data.

##Integers
age = 35
print(type(age))

<class 'int'>

In [2]:
##Floating point Data Type
height = 3.13
print(height,type(height))

3.13 <class 'float'>

In [3]:
##String
name = "Sri"
print(name,type(name))

Sri <class 'str'>

In [4]:
##Common Errors
result = "Hi" + 5

TypeError: can only concatenate str (not "int") to str

In [6]:
result = "Hi" + str(5)
print(result)

Hi5