#### Tuples are ordered collections of items that are immutable. They are similar to lists,but their immutability makes them different

In [1]:
## Creating a tuple
empty_tuple = ()
print(empty_tuple, type(empty_tuple))

() <class 'tuple'>

In [2]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [11]:
numbers = tuple([1,2,3,4,5,6])
print(numbers,type(numbers))

(1, 2, 3, 4, 5, 6) <class 'tuple'>

In [12]:
mixed_tuple = (1, "math", True, 4.6)
mixed_tuple

(1, 'math', True, 4.6)

In [22]:
##Accessing Tuple Elements
numbers[2]
print(numbers[-1])
print(numbers[::-1])
print(numbers[::1])

6
(6, 5, 4, 3, 2, 1)
(1, 2, 3, 4, 5, 6)

In [24]:
##Tuple Operations

concat_tuples = numbers + mixed_tuple
print(concat_tuples)

(1, 2, 3, 4, 5, 6, 1, 'math', True, 4.6)

In [25]:
mixed_tuple * 3

(1, 'math', True, 4.6, 1, 'math', True, 4.6, 1, 'math', True, 4.6)

In [26]:
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [28]:
##Immutable Nature of Tuples
lst = [1,2,3,4,5]
print(lst)

[1, 2, 3, 4, 5]

In [30]:
lst[1] = "Sri"
lst

[1, 'Sri', 3, 4, 5]

In [32]:
tup = tuple([1,2,3,4,5])
tup[1]= "Sri"
tup

TypeError: 'tuple' object does not support item assignment

In [34]:
numbers

(1, 2, 3, 4, 5, 6)

In [38]:
##Tuple Methods
print(numbers.count(1))
print(numbers.index(4))

1
3

In [39]:
##Packing and unpacking tuple
pack_tuple = 1,"Hello",3.14
print(pack_tuple)

(1, 'Hello', 3.14)

In [40]:
## unpacking tuple
a,b,c = pack_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [41]:
##unPacking with *
numbers = (1,2,3,4,5,6)
first, *middle,last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [ ]:
##Nested Tuples
##Nested List
lst = [[1,2,3,4],[6,7,8,9],[1,"Hello",3.14,"c"]]
lst[0][:3]

[1, 2, 3]

In [46]:
lst = [[1,2,3,4],[6,7,8,9],(1,"Hello",3.14,"c")]
lst[2][0:3]

(1, 'Hello', 3.14)

In [50]:
nested_tuple = ((1,2,3),("a","b","c"),(True, False))
## access the elements inside a tuple
print(nested_tuple[0])
print(nested_tuple[1][1])

(1, 2, 3)
b

In [51]:
##Iterating over nested tuples
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end = " ")
    print()

1 2 3
a b c
True False