# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [4]:
## Assignment 1: Creating and Accessing Tuples
##Create a tuple with the first 10 positive integers. Print the tuple.
positive_tuple = (1,2,3,4,5,6,7,8,9,10)
print(positive_tuple,type(positive_tuple))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10) <class 'tuple'>

In [5]:
## Assignment 2: Accessing Tuple Elements
##Print the first, middle, and last elements of the tuple created in Assignment 1.

first,*middle,last = positive_tuple
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5, 6, 7, 8, 9]
10

In [6]:
## Assignment 3: Tuple Slicing
##Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.
print(positive_tuple[:3])
print(positive_tuple[-3:])
print(positive_tuple[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

In [7]:
## Assignment 4: Nested Tuples
##Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.
nested_tuple = ((1,2,3),(4,5,6),(7,8,9))
print(nested_tuple[1][2])

6

In [8]:
## Assignment 5: Tuple Concatenation
##Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.
tup1 = (1,2,3)
tup2 = (4,5,6)
concat_tup = tup1 + tup2
print(concat_tup)

(1, 2, 3, 4, 5, 6)

In [11]:
## Assignment 6: Tuple Methods
##Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.
dup_tuple = (1,2,3,5,3,2,6,7,8,4,6,2)
print(dup_tuple.count(2))
print(dup_tuple.index(2))

3
1

In [12]:
## Assignment 7: Unpacking Tuples
##Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.
tuples = (1, "Hello", 3.14, True, (2,False))
a,b,c,d,e = tuples
print(a)
print(b)
print(c)
print(d)
print(e)

1
Hello
3.14
True
(2, False)

In [14]:
## Assignment 8: Tuple Conversion
##Convert a list of the first 5 positive integers to a tuple. Print the tuple.

lst = [1,2,3,4,5]
print(lst,type(lst))

pos_int = tuple(lst)
print(pos_int,type((pos_int)))

[1, 2, 3, 4, 5] <class 'list'>
(1, 2, 3, 4, 5) <class 'tuple'>

In [16]:
## Assignment 9: Tuple of Tuples
##Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.
tup = ((1,2,3),(4,5,6),(7,8,9))
print(tup)

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [23]:
## Assignment 10: Tuple and List
##Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.
tuples = (1,2,3,4,5)
print(tuples,type(tuples))

convert_list = list(tuples)
print(convert_list,type(convert_list))
convert_list.append(6)
print(convert_list)

tuples = tuple(convert_list)
print(tuples,type(tuples))

(1, 2, 3, 4, 5) <class 'tuple'>
[1, 2, 3, 4, 5] <class 'list'>
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6) <class 'tuple'>

In [27]:
## Assignment 11: Tuple and String
##Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.
char_tuples = ('S','r','i',' ', 'K','a','u','s','h','i','k')
print(char_tuples)

str_tuples = ''.join(char_tuples)
print(str_tuples)

('S', 'r', 'i', ' ', 'K', 'a', 'u', 's', 'h', 'i', 'k')
Sri Kaushik

In [28]:
## Assignment 12: Tuple and Dictionary
##Create a dictionary with tuple keys and integer values. Print the dictionary.
dictionary = ({'key1' : 1},{'key2' : 2},{'key3': 3})
print(dictionary,type(dictionary))

({'key1': 1}, {'key2': 2}, {'key3': 3}) <class 'tuple'>

In [29]:
## Assignment 13: Nested Tuple Iteration
##Create a nested tuple and iterate over the elements, printing each element.
nested_tuple = ((1,2,3),(4,5,6),(7,8,9))
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item)

1
2
3
4
5
6
7
8
9

In [30]:
## Assignment 14: Tuple and Set
##Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.
dup_tuple = (1,2,3,2,2,1,6,7,5,6,7)
result_tuple = set(dup_tuple)
print(result_tuple)

{1, 2, 3, 5, 6, 7}

In [32]:
## Assignment 15: Tuple Functions
##Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.
def min_tuple(sample_tuples):
    return min(sample_tuples)
def max_tuple(sample_tuples):
    return max(sample_tuples)
def sum_tuple(sample_tuples):
    return sum(sample_tuples)

sample = (1,2,3,4,5,6,7,8,9)

print(min_tuple(sample))
print(max_tuple(sample))
print(sum_tuple(sample))

1
9
45